/* 6. btn */
.c-btn {
	color: $white;
	display: inline-block;
	font-size: 15px;
	font-weight: 700;
	position: relative;
	text-transform: uppercase;
	padding-left: 30px;
	z-index: 2;
		&::before{
			height: 60px;
			width: 60px;
			line-height: 60px;
			position: absolute;
			border: 2px solid $theme-color;
			left: 0;
			content: "";
			border-radius: 50%;
			top: -19px;
			z-index: -1;
		}
	&.c-btn-black{
		color: $black;
	}
	&:hover{
		color: $theme-color;
	}
	&.c-btn-grey{
		color: $body-text-color;
	}
	&:hover{
		color: $theme-color;
	}
}

button{
	transition: .3s;
}

