/* 10. skills */
.skill-area {
	background-size: cover;
}
.skill-light {
    @media #{$laptop}{
        background-position: right;
    }
    @media #{$lg}{
        background-position: right;
    }
    @media #{$md}{
        background-position: right;
    }
    @media #{$xs}{
        background-position: right;
    }

}
.our-skills-content {
    & h4 {
        font-size: 24px;
        color: #fff;
        padding-bottom: 30px;
        margin-bottom: 20px;
        position: relative;
    }
}
.our-skills-content h4::before,.our-skills-content h4::after {
	position: absolute;
	background: #404040;
	height: 3px;
	width: 140px;
	bottom: 0;
	content: "";
	margin: auto;
	display: inline-block;
	left: 0;
	right: 0;
}
.our-skills-content h4::after {
	background: $theme-color;
	height: 4px;
	width: 60px;
}
.skill-no {
    & h2 {
        color: #fff;
        font-size: 90px;
        & span {
            font-size: 30px;
            line-height: 1;
            transform: translateY(-5px);
            display: inline-block;
        }
    }
}
.progress-circular {
    & input {
        opacity: 0 !important;
    }
}
.progress-circular {
    position: relative;
    display: inline-block;
}
.skill-icon {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
    transform: translateY(-50%);
    & i {
        color: #fff;
        font-size: 45px;
    }
}
.progress-circular {
    & span {
        background-image: linear-gradient(-60deg, #fa5b0f 0%, #111111 99%);
        background-image: -ms-linear-gradient(-60deg, #fa5b0f 0%, #111111 99%);
        height: 50px;
        width: 50px;
        display: inline-block;
        border-radius: 30px;
        line-height: 50px;
        color: #fff;
        position: absolute;
        left: -40px;
        top: -65px;
    }
}
.skill-col {
    @media #{$xs}{
        width: 100%;
    }
    @media #{$sm}{
        width: 50%;
    }
}
// skill-light
.skill-light .skill-icon i {
	color: $theme-color;
}
.skill-light .our-skills-content h4 {
	color: #6a6a6a;
}
.skill-light .our-skills-content h4::before{
	background: $white;
}
.skill-light .our-skills-content h4::after {
	background: #fa5b0f;
}
.skill-light .skill-no h2 {
	color: $black;
}
.CircularProgressbar {
	max-width: 160px;
}