/* 14. testimonial */
.testimonial-area{
    background-size: cover;
    background-position: center center;
}
.test-wrapper{
    background: $white;
    padding: 50px 47px 45px 50px;
    position: relative;
    @media #{$lg}{
        padding: 50px 20px 45px 20px;
      }
    @media #{$md}{
        padding: 50px 30px 45px 30px;
      }
    &::before{
        position: absolute;
        top: 0;
        content: "";
        height: 110px;
        width: 5px;
        left: 0;
        background: $theme-color;
        transition: .3s;
    }
}
.test-wrapper:hover::before{height: 100%;}
.clientsay-name{
    overflow: hidden;
}
.client-say-icon{
    float: left;
    margin-right: 15px;
    & i{
        background: #feeee7;
        color: $theme-color;
        font-size: 22px;
        height: 55px;
        width: 55px;
        line-height: 55px;
        text-align: center;
        border-radius: 50%;
        display: inline-block;
    }
}
.client-say-content{
    overflow: hidden;
    & h4{
        font-size: 22px;
        margin-bottom: 4px;
        font-weight: 700;
    }
    & span{
        color:$theme-color;
        font-size: 14px;
        text-transform: capitalize;
        font-weight: 500;
    }
}
.test-text{
    margin-top: 20px;
    & p{
        margin-bottom: 0;
    }
}
.test-active {
    & button.slick-arrow {
        background: none;
        width: 80px;
        height: 80px;
        line-height: 3px;
        padding: 0;
        border-radius: 50%;
        color: #a1a1a1;
        font-size: 50px;
        margin: 0;
        position: absolute;
        top: 50%;
        left: -185px;
        border: 2px solid #d6d6d6;
        cursor: pointer;
        transition: .3s;
        transform: translateY(-50%);
        & i{
            transform: translateX(32px);
        }
        &:hover{
           color: $theme-color;
           border-color: $theme-color;
        }
    }
    & button.slick-next{
        right: -185px;
        left: auto;
        & i{
            transform: translateX(-32px);
        }
    }
}
.test-active button.slick-arrow i {
	font-size: 20px;
}
.test-active .slick-dots {
	text-align: center;
	z-index: 99;
	left: 0;
    right: 0;
    margin-top: 85px;
}
.test-active .slick-dots li {
	display: inline-block;
	margin: 0 4px;
}
 .test-active .slick-dots li button {
	height: 20px;
	width: 20px;
	text-indent: -9999px;
	transition: .3s;
	padding: 0;
	border:3px solid #c4c4c4;
	border-radius: 50%;
	background: none;
	cursor: pointer;
}
.test-active .slick-dots li.slick-active button {
	border-color: $theme-color;
}
// black-bg
.black-bg .test-wrapper {
	background: #222222;
}
.black-bg .client-say-content h4 {
	color: $white;
}
.black-bg .test-text p {
	color: $white;
}
.test-active .slick-arrow::before {
	display: none;
}