@font-face {
    font-family: 'NewYorkMedium';
    src: url('fonts/NewYorkMedium-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NewYorkMedium';
    src: url('fonts/NewYorkMedium-Regular.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}