.hero-slider-caption {
    // border: 1px solid $theme-color;
    
    h1 {
        font-size: 70px;
        margin-bottom: 23px;
        font-weight: 600;
        color: black;
        margin-top: 40px;
        @media #{$lg}{
            font-size: 50px;
        }
        @media #{$md}{
            font-size: 55px;
            margin-top: 30px;
        }
        @media #{$xs}{
            font-size: 32px;
            line-height: 1.1;
        }
    }

    span {
        color: black;
    }
}

.test-wrapper {
    background-color: $grey-soft;
}

.slider-button > .c-btn {
    color: $black-2;
}

.slider-button > .c-btn:hover {
    color: $theme-color;
}