.hero-slider-caption {
    // border: 1px solid $theme-color;
    
    h1 {
        font-size: 70px;
        margin-bottom: 23px;
        color: white;
        font-weight: 600;
        margin-top: 40px;
        text-shadow: 2px 2px 2px #444;
        @media #{$lg}{
            font-size: 50px;
        }
        @media #{$md}{
            font-size: 55px;
            margin-top: 30px;
        }
        @media #{$xs}{
            font-size: 32px;
            line-height: 1.1;
        }
    }

    span {
        text-shadow: 2px 2px 2px #000;
    }
}

.hero-video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: black;
}

#why {
    background-color: $grey-soft;
}

.service-info p {
    font-size: 18px;
    font-weight: 400;
    position: relative;
    padding-left: 20px;
}

.service-info p:first-child:before {
    position: absolute;
    height: 22px;
    width: 4px;
    content: "";
    left: 0;
    background: #fa5b0f;
    top: 3px;
}

.about-info > .border-left-1{
    height: 14px;
    width: 4px;
    background: #fa5b0f;
    display: inline-block;
    position: relative;
    top: 1px;
}

.main {
    margin-top: 82px;
}

.test-text > p{
    color: #444444;
}

.services-wrapper:hover {
    box-shadow: 0px 0px 2px 2px $theme-color;
}

.service-icon {
    width: 125px;
    height: 125px;
    background-position: center center;
    background-size: contain;
    display: block;
}

.service-icon.service-icon--micro {
    background-image: url('../public/lab-certified.png');
}

.service-icon.service-icon--pesticide {
    background-image: url('../public/herbicide.png');
}

.service-icon.service-icon--hemp-flowery-test {
    background-image: url('../public/marijuana.png');
}

.service-icon.service-icon--aflatoxin {
    background-image: url('../public/nano-amplified.png');
}

.service-icon.service-icon--hemp-product-test {
    background-image: url('../public/ratio.png');
}

.service-icon.service-icon--profile {
    background-image: url('../public/lab-report.png');
}