.services {
    margin-top: 82px;
}

.services > h1 {
    margin-top: 1em;
    margin-bottom: 1em;
}

.service--description {
  white-space: pre-wrap;
}


.gmp__testing p {
  color: black;
}

.service__img {
  max-height: 300px;
}

.service__btn {
	padding: 29px 30px;
    border: 3px solid $theme-color;
    // width: 100%;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: $theme-color;
    background: none;
    line-height: 1;
    transition: .3s;
    cursor: pointer;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;

    &:hover {
	    // border-color: #fff;
    	background: $theme-color;
    	color: #fff;
    }
}